.edit-cahpter-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.edit-chapter-form input {
  display: block;
  width: 100%;
  margin-bottom: 5px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.edit-chapter-form button {
  border: none;
  color: white;
  margin-left: 5px;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px;
  background-color: rgb(123, 123, 230);
}
