.course-rating {
  text-align: center;
  margin: 20px;
}

.star-rating {
  display: flex;
  justify-content: center;
}

.fa-stack {
  cursor: pointer;
}

.fa-stack .fa-star {
  position: relative;
  font-size: 2rem;
  color: #ddd;
  transition: color 0.3s ease;
}

.fa-stack.checked .fa-star {
  color: rgb(93, 93, 238);
}

.submit-rating {
  margin-top: 10px;
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.submit-rating:hover {
  background-color: #0056b3;
}
