.nav-main {
  display: flex;
  justify-content: center;
}

.course-nav-container {
  position: relative;
  bottom: 25px;
  height: 50px;
  width: 20%;
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
  border-bottom: 1px solid rgb(150, 150, 150);
}

.course-nav-link {
  color: rgb(150, 150, 150);
  text-decoration: none;
  padding: 10px;
  cursor: pointer;
}
